

$colors: (
    heading: #000000,
    primary-light: lighten(#000000,40%),
    primary-dark: darken(#000000,40%),
    accent: #B76E79,
    para: #9f9da8
);

$fonts: (
    libre : 'Libre Baskerville',
    neutra: 'Neutra Text'
);

@function font($fontname){
    @return map-get($fonts , $fontname)
}

@function color($color-name){
    @return map-get($colors, $color-name)
}

$sectionpad: 10% 0;

html{
    height: 100%
}

body{
    font-family: font(libre);
    margin: 0;
   
}






header{
    #bg img{
       
        width: 95%;
        height: 80%;
        position: absolute;
        z-index: -1;
        margin: 2em ;
        box-shadow: 0px 10px 20px  rgba(0,0,0,.2);

    }

    #headerlogo img{
        width: 5em;
        background-color: #fff;
        margin: 0 47%;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);
        padding: 10px;
        position: fixed;
        top: 0;
        z-index: +2;
       
        
    }
    #menulogo img{
        width: 2em;
        height: 2em;
        background-color: #fff;
        margin: 20% 0%;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);
        padding: 10px;

        
    }

}

main{

    padding: $sectionpad; 
    
    p{
        font-family: font(neutra); 
        color: color(para);
        margin-top: -10px;
     }
    
    h1{
        font-size: 1.5em;
        margin: 0 5%;
        padding: 5% 0;
    }

    hr.heading{
        border: 5px solid #f4d966;
        border-radius: 1px;
        position: absolute;
        z-index: -1;
        margin: 6.4% 0 0 5%;

    }
    hr.wcardhr{
        border: 2px solid #b7b3c2;
        border-radius: 5px;
        margin: -10px 100% -10px -10px;
        position: absolute;
        z-index: 1;
    }
    
    img#wcardimg{
        margin-left: 85%;
    }

    

    div#whycontainer{

        img{
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 70%;

        }

    }

    

    div#wcard1{
        margin: 10% 6%;
        padding: 10px;
        grid-area: card1;
        background: #fff;
        width: 40%;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);

        
    }

   

    div#wcard2{
        grid-area: card2;
        background: #fff;
        width: 40%;
        height: 31%;
        margin: -26.7% 50%;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);
        position: absolute;
        z-index: 1;
        padding: 10px;
        
    }


    section#aboutus{
        

        img#bgimg{
            width: 100%;
            height: 90%;
            position: absolute;
            z-index: -1;
        }

        div#auprcd{
            
            padding: 20px 40px;
            margin: 5% ;
            background: rgba(255,255,255,.8);
            width: 31%;
            text-align: center;
            line-height: 1.3em;

            p{
                color: #505050;
                padding: 10px;
            }

            a{
                color: black;
                border-radius: 5px;
                text-decoration: none;
                font-family: neutra;
                border: 2px solid black;
                display: block;
                text-align: center;
                width: 20%;
                margin: 10px auto;
                padding: 10px 35px;
             }
            
        }
        
    }

    a#rm{
        
        color: black;
    }

    section#abcont{
        padding: 10% 3%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 60% auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
                 "img con1"
                 "img con2"
                 "img con3";

       
        

        div#machine{
            grid-area: img;
            
            img{
               margin-left: -10%;
                
            }
            
        }
        div#QA{
            h2{
                font-size: 1.3em;
            }
            grid-area: con1;
            border: 1px solid #f5f5f5;
            padding: 20px;
            
        }

        div#mission{
            h2{
                font-size: 1.3em;
            }
            grid-area: con2;
            border: 1px solid #f5f5f5;
            padding: 20px;
            
        }
        div#vission{
            h2{
                font-size: 1.3em;
            }
            grid-area: con3;
            border: 1px solid #f5f5f5;
            padding: 20px;
            
        }
        

    }


}

footer{

    color: white;
    background: #10092b;
    padding: 5em;
    text-align: left;
    font-size: .8em;
    
    

    table {
        padding: 0px 0px 0px 0px;
        
    }
    table td a{
        text-decoration: none;
        color: white;
    }
   
    
    

     
    #uselink {
        
        margin-left: 20%;
        margin-top: -13em;
        margin-bottom: 10%;

        th{
            padding-bottom: 20px;
            
        }

        td{
            padding: 20px 0
           
        }
        
    }


    #reach{
        margin-left: 50%;
        margin-top: -24%;
        //margin-bottom: 10%;
        padding-left: 5%;

        th{
            padding-bottom: 10%;
        }

        td{
            padding-right: 70px ;
            
        }
        
    }
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    
    
    
    
  }
  
  .sidenav a {
      
    padding: 20px 100px ;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 7.5em;
    font-size: 36px;
    left: 0px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  #sm{
      padding: 30px 10px 10px 100px;   
  }
  
  #sm img{
      padding: 0px 30px 0px 0px;
  }

  #navnum{
      font-size: .5em;
  }